# requirements.txt
# Список зависимостей проекта TaskCalc

# Стандартная библиотека Python, в requirements не включается:
# argparse

# Внешние зависимости (пока нет)
# Например, если позже добавим requests, то:
# requests>=2.28.0

# Для разработки и тестирования:
pytest>=7.0.0